<div>
    <img class="fundo" src="../../../assets/img/fundo.png" alt="fundo formacao">
    <mat-card class="home mat-elevation-z3">
        <mat-card-title class="title">
          Formação
        </mat-card-title>
        <mat-list role="list">
            <mat-list-item role="listitem">
                <i class="material-icons"> circle</i>
                <span>Bacharelado em Sistema de Informações - ESAB 2021/2023</span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <i class="material-icons"> circle</i>
                <span>Curso de Língua inglesa e Literatura de Língua Inglesa - Uptime 2020/2022</span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <i class="material-icons"> circle</i>
                <span>Curso de Desenvolvimento WEB Moderno - Udemy 2021/2021</span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <i class="material-icons"> circle</i>
                <span>Curso de Banco de Dados e SQL - Udemy 2021/2021</span>
            </mat-list-item>
          </mat-list>
          
    </mat-card>
</div>