<div>
    <img class="fundo" src="../../../assets/img/fundo.png" alt="fundo carreira">
    <mat-card class="home mat-elevation-z3">
        <mat-card-title class="title">
          Carreira
        </mat-card-title>
        <mat-list role="list">
            <mat-list-item role="listitem">
                <i class="material-icons"> circle</i>
                <span>Estagiário de técnico de informática - Mac Micros 2017/2017</span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <i class="material-icons"> circle</i>
                <span>Operado de caixa plantão - Drogaria Araujo SA 2019/2020</span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <i class="material-icons"> circle</i>
                <span>Auxiliar documental - BRT Intelligence 2020/2021</span>
            </mat-list-item>
          </mat-list>
    </mat-card>
</div>
